<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="TenantId" value ="f82897b1-7231-47bb-9e7e-fa73ca4ca580" />
    <add key="ClientId" value ="1ccb4f21-fd48-4701-8551-c832d03e3bf2" />
    <add key="RedirectUrl" value ="http://localhost/mamldemo" />
    <add key="WTenantId" value ="5df16609-58ca-4f9e-a5c2-556aa3599e17" />
    <add key="WClientId" value ="9135834b-82dc-487c-928d-1c1779c211c2" />
    <add key="WRedirectUrl" value ="http://localhost/MamlReader" />
    <add key="Toggle" value = "On" />
    <add key ="MySubscription" value ="Premium" />
  </appSettings>
</configuration>
